@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');


.russo-one-regular {

    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --font-classica: Arial, Verdana, Helvetica, sans-serif;
    --font-principal: "Russo One", sans-serif;
}

header {
    background-color: grey;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.534);
}
main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.534);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
h1 {
    font-size: 3em;
    font-family: var(--font-principal);
}
h1#logo {
    font-size: 6em;
    text-align: right ;
}
h2 {
    font-size: 2em;
    font-family: var(--font-principal);
}
p {
    font-family: var(--font-classica);
    padding: 10px;
    font-size: 1.8em;
}
img {
    padding: 10px; 
    min-width: 300px;
    max-width: 400px;
}
a:hover {
    color: red;
}
footer a {
    color: purple;
    font-weight: bolder;
    text-decoration: none;
}
footer a:hover {
    text-decoration: none;
    color: red;
    
}